main {
    background-color: grey;
    text-align: center;
    width: 100%;
}

.circles {
    border: rgb(90, 90, 90) solid 10px;
    border-radius: 360px;
    width: 200px;
    margin: 40px 50px;
}

.background {
    width: 100%;
    /*height: 300px;*/
}